/* Bubblegum */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap'); 

/* Opensan */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --font-primary: 'Bubblegum Sans', sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --color-primary: #006634;
  --color-secondary: #00a246;
  --color-label: #00a24628;
  --color-paragraph: #6b6f92;
  --color-button: #e1e2ec;
  --color-button-white: #fff;

}
/* #00a24636 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px red; */
  /* background-color: blue; */
}




/* ***************************** slider **********************/

.container {
  width: 100%;
  overflow: hidden;
  /* padding: 0 !important;
  margin: 0 !important; */
}

.slide {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  display: flex;
  animation: slider 20s infinite alternate ease-in-out;
  /* background-color: blue; */
}

@media (min-width: 250px) and (max-width: 600px) {
  .slide{
    height: 230px;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .slide{
    height: 400px;
  }
}

.slide ul {
  list-style: none;
  display: flex;
  height: 100%;
  width: 400%;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.slide li {
  width: 25%; /* 4 images, 100% / 4 = 25% */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide div {
  position: relative;
}

.slide div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-550%, -20%);
  font-size: 60px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

@keyframes slider {
  0% { margin-left: 0%; }
  20% { margin-left: 0%; }

  25% { margin-left: -100%; }
  45% { margin-left: -100%; }

  50% { margin-left: -200%; }
  70% { margin-left: -200%; }

  75% { margin-left: -300%; }
  100% { margin-left: -300%; }
}

 /* ***************************************************    TEXTOS ******************** */
.fuente principal {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
}

.fuente secundario {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
}

.tittle-color {
  font-size: 60px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);
}

.tittle-white {
  font-size: 60px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-button-white);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.paragraph {
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-paragraph);
  /* margin-bottom: 30px; */
}

.paragraph-end {
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-paragraph);
  text-align: right;
}

.listItem {
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-style: normal;
  color: var(--color-paragraph);
  margin: 0px;
  padding: 5px;
}

.label {
  font-size: 18px;
  font-family: var(--font-secondary);
  font-style: normal;
  color: var(--color-primary);
  background-color: var(--color-label);
  border-radius: 10px;
  font-weight: 600;
  padding: 10px 40px 10px 40px;
}

.sub-tittle{
  font-size: 35px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);
  text-align: center;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}


.sub-tittle-start{
  font-size: 35px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);
  text-align: start;
  margin-bottom: 30px;
}

.sub-tittle-end{
  font-size: 35px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);
  text-align: end;
  margin-bottom: 30px;
}

/* Estilos para el encabezado cuando se hace scroll */
.sub-tittle.scrolled, .style-text.scrolled {
  color: var(--color-button-white);
}

.tittle-card{
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 10px;
}

.tittle-card-start{
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-secondary);
  text-align: start;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tittle-card-end{
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-secondary);
  text-align: end;
  margin-bottom: 10px;
  margin-top: 10px;
}

.paragraph-card {
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-paragraph);
  text-align: center;
  display: flex;
}

.paragraph-card-opinions {
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-paragraph);
  text-align: center;
  display: flex;
  font-style: italic;
}

.paragraph-card-indicators {
  font-size: 18px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-paragraph);
  text-align: start;
  display: flex;
}

.text-button{
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-button);
}

.text-hero {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  /* color: white; */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
}

.text-hero-paragraph{
  font-size: 22px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
  color: rgb(3, 3, 3);
  text-align: center;
  display: flex;
}



/* ******************************************** BOTONES ********************* */
.button-primary {
  font-family: var(--font-secondary);
  min-width: 130px;
  height: 40px;
  color: var(--color-button);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
}
.button-primary:hover {
  background: var(--color-button-white);
  color: var(--color-primary);
}

.button-secondary {
  font-family: var(--font-secondary);
  min-width: 130px;
  height: 40px;
  color: var(--color-primary);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid var(--color-primary);
  background: var(--color-button-white);
}
.button-secondary:hover {
  background: var(--color-primary);
  color: var(--color-button);
}



/* ******************************************** HEADER ********************* */

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.header-one {
  background-color: rgba(240, 240, 240, 0.4);
  border-radius: 15px;
  /* margin: auto; */
  z-index: 9999;
  /* position: fixed; */
  width: 100%;
  height: 65px;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.5);

  /* Media Query para dispositivos de escritorio */
  @media screen and (min-width: 768px) {
    width: 100%; 
  }
}
/* Estilos para el encabezado cuando se hace scroll */
.header-one.scrolled {
  background-color: var(--color-primary); 
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 1);
}

.style-text{
  font-family: var(--font-secondary);
  font-size: 20px;
  color: var(--color-primary);
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}


/* ******************************************** CARRUSEL  ********************* */

.carusel-personal {
  height: 28vh  !important;
  overflow: hidden; 
  /* Altura deseada para el carrusel */
}

@media screen and (min-width: 700px) {
  .carusel-personal {
    height: 90vh !important; 
    /* Para escritorio */
  }
}

.carusel-personal .carousel-inner .carousel-item img {
  height: 100% !important; 
  /* Hacer que las imágenes llenen la altura del carrusel */
  width: 100vw !important; 
  /* Ajustar automáticamente el ancho según la altura */
   object-fit: cover !important; 
   /*Escalar la imagen para llenar el contenedor sin distorsión */
} 

/* ******************************************** DIV DE APP.TSX ********************* */
.bigcard2 {
  max-width: 1300px;
  margin: auto;
  margin-top: 100px;
}

.imgBigCard2 {
  max-height: 350px;
  margin: auto;
}


/* ******************************************** CARD  ********************* */
.container-card {
  width: 100%;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07); /* sombra de la card*/
}

.container-img {
  display: flex;
  justify-content: center;
}

.img-card {
  max-width: 250px;
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  color: var(--color-primary);
  border-radius: 30% 70% 59% 41% / 30% 38% 62% 70%;
  border: 1px dashed;
  padding: 10px 5px 15px 17px;
  margin-bottom: 25px;
  /* margin: 10px 5px 15px 20px; */
}

.quotation {
  width: 35px;
  position:relative; 
  top: -40px; /* Posición desde arriba */
  right: -150px; /* Posición desde la derecha */
  filter: drop-shadow(0px 0px 10px rgba(48, 158, 4, 0.774));
  /* box-shadow: 0px 0px 10px 5px rgba(48, 158, 4, 0.774);  */
  /* sombra verde*/
}


/* ********************************** INDICATORS  ********************* */

.indicators {
  width: 100%;
  height: 250px;
  background-color: var(--color-label);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

@media (min-width: 250px) and (max-width: 600px) {
  .indicators {
    height: 650px;
    margin-top: 40px;
  }
  .quotation {
    right: -230px; /* Posición desde la derecha */
    width: 20px;
  }
  .imgBigCard2 {
    margin-top: -80px;
    margin-bottom: 45px;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .indicators {
    height: 360px;
    margin-top: 50px;
  }
  .quotation {
    right: -100px; /* Posición desde la derecha */
    width: 25px;
  }

  .bigcard2 {
    margin-top: -10px;

  }
}

.avatar {
  width: 70%;
  height: 70%;
}

.container-svg {
  width: 100px;
  height: 100px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  padding: 10px;
}


/* ********************************** FOOOTER  ********************* */

.icon-red-social {
  background-color: var(--color-secondary);
  width: 60px !important;
  height: 60px !important;
  border-radius: 50px;
  padding: 10px;
  color: var(--color-button-white);
  box-shadow: 0px 0px 10px 5px rgba(35, 219, 18, 0.178);
  /* border-radius: 30% 70% 59% 41% / 30% 38% 62% 70%;
  border: 1px dashed;
  padding: 10px 5px 15px 17px; */
}

.icon-red-social:hover {
  color: var(--color-primary);
  box-shadow: 0px 0px 10px 5px rgba(30, 151, 5, 0.5);
}

.footer-fondo{
  background:  var(--color-label);
  border-radius: 25px 25px 0 0;
  /* transform: scaleX(2.1);
  z-index: -1; */
  padding: 1px;
  margin-top: 100px;
}



/* ********************************** DERECHOS RESERVADOS  ********************* */

.derechos-reservados{
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.name-david{
  color: var(--color-primary);
  font-weight: 700;
}

